* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Domine', serif;
}

header {
    padding: 1.25rem 0;
    background-image: url(../imagens/header2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}


.cabecalho {
    position: relative;
    width: 71.25rem;
    margin: 0 auto;
}

.nav-conteiner-header {
    position: absolute;
    top: 7.5rem;
    right: 1.25rem;
}

.lista-header {
    display: inline;
    margin-left: .9375rem;
}

.nav-conteiner-header a {
    color: #fefefe;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.375rem;
    text-transform: uppercase;
    text-shadow: 15px 15px 15px black;
}

.nav-conteiner-header a:hover {
    color: #c78c19;
    text-decoration: none;
    font-size: 1.75rem;
    transition: 400ms;

}

/* Miolo do site */

.container-form {
    width: 71.25rem;
    margin: 0 auto;
}

main {
    background: linear-gradient(#fefefe, #888888);
}

form {
    margin-top: 2.5rem;
    padding: 1.25rem 0;
     
}

form label, form legend {
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: .625rem;
}

fieldset {
    border: none;
}

.input-padrao {
    display: block;
    margin-bottom: 1.25rem;
    padding: .625rem;
    width: 50%;
}

.checkbox {
    margin-top: 1.25rem;
}

.enviar {
    width: 40%;

    border: none;
    border-radius: 0.3125rem;
    background-color: orange;
    font-size: 1.125rem;
    transition: 1s background;
    cursor: pointer;
    position: relative;
    left: 2.5rem;
    margin-top: 0.625rem;
    padding: 1.25rem;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

.container-table {
    width: 71.25rem;
    margin: 50px auto 0;
}

h2 {
    padding: 0 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

table {
    width: 570px;
    padding: 0 0 1.25rem 0;
    margin: 0 auto;
    
}

thead {
    background-color: #555555;
    color: #ffffff;
}

td, th {
    border: .0625rem black solid;
    padding: .5rem .9375rem;
}

/* Rodapé */

footer {
    background: url(../imagens/bg.jpg);
    text-align: center;
    padding: 2.5rem 0;
}

.copyright {
    color: white;
    font-size: .8125rem;
    margin-top: 1.25rem;
}

@media screen and (max-width: 54.6875rem) {
    .cabecalho, .container-form, .container-table {
        width: auto;
        padding: 0.625rem;
    }

    h1 {
        text-align: center;
    }

    .nav-conteiner-header {
        position: static;
        display: flex;
        justify-content: center;
    }

    .nav-conteiner-header a {
        font-size: 1.125rem;
    }

    form label, form legend {
        display: flex;
        justify-content: center;

    }

    .input-padrao, legend {
       margin: auto;
    }

    .enviar {
        display: flex;
        justify-content: center;
    }

    table {
        width: 100%;
    }

    h2 {
        margin: auto;
        font-size: 1.125rem;
    }

    .checkbox {
        font-size: 0.875rem;
    }

    .enviar {
        width: 80%;
    }

    .box-select {
        display: flex;
        justify-content: center;
    }
}









