* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

header {
  background: #bbbbbb;
  padding: 1.25rem 0;
}

h1 {
	
	position: relative;
	left: 6.25rem;
}

.caixa {
  position: relative; /* levanta o elemento em relação a página */
  width: 71.25rem; /* largura padrão para web */
  margin: 0 auto;
  right: 3.75rem;
}

nav {
  position: absolute; /* posiciona o elemento em qualquer lugar na página */
  top: 7.5rem;
  right: 1.25rem;
}

nav li {
  display: inline;
  margin-left: .9375rem;
}

nav a {
  text-transform: uppercase; /* transforma texto em maiusculo */
  color: #000000;
  font-weight: bold; /* deixa texto em negrito */
  font-size: 1.375rem;
  text-decoration: none; /* para remover sublinhado */
}

nav a:hover { /* para adicionar efeito nos menus quando passar o mouse */
  color: #c78c19;
  text-decoration: underline;
}

/* Miolo do site */

.produtos {
  width: 71.25rem;
  margin: 0 auto;
  padding: 3.125rem 0;
}

.produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 2.375rem 2.375rem;
  border: .125rem black solid;
  border-radius: .625rem; /* arredonda a borda */
  background-color: #ffffff;
 }

.produtos li:hover {
  border-color: #c78c19;
}

.produtos li:active {
  border-color: green;
}

.produtos li:hover h2 {
  font-size: 2.0625rem;
}

.produtos h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

.produto-descricao {
  font-size: 1.1875rem;
}

.produtos-precos {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: .625rem;
}

footer {
  background: url(../imagens/bg.jpg);
  text-align: center;
  padding: 2.5rem 0;
}

.copyright {
  color: white;
  font-size: .8125rem;
  margin-top: 1.25rem;
}