* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #bbbbbb;
}

header {
	background: #bbbbbb;
	padding: 1.25rem 0;
}

h1 {
	
	position: relative;
	left: 6.25rem;
}

.conteiner {
	position: relative;
	width: 71.25rem;
	margin: 0 auto;
	right: 60px;
}

nav {
	position: absolute;
	top: 7.5rem;
	right: 1.25rem;
}

.menu {
	display: inline;
	margin-left: .9375rem;
}

nav a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.375rem;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

/* Miolo do Site */

.main-conteiner {
	width: 71.25rem;
	margin: 0 auto;
}

.banner-principal {
	width: 100%;

}


.principal {
	padding: 1.25rem 1.875rem;
	margin: 0 auto;
	background-color: #bbbbbb;
	margin-top: -0.25rem;
	height: 100%;
}

h2 {
	text-align: center;
	font-weight: bold;
	padding: .625rem 1.25rem 1.25rem;
	font-size: 22px;
}

p {
	text-align: center;
	line-height: 1.5;
}

#missao {
	font-size: 1.25rem;
	padding: .3125rem 0;
}

em strong {
	color: red;
}

.itens {
	font-style: italic;
}

.beneficios {
	margin: 0 auto;
	background-color: #bbbbbb;
	padding: 1.25rem;
	


}


h3 {
	text-align: center;
	margin: 1.25rem auto 0;
	font-weight: bold;
	font-size: 1.375rem;
	padding: 0 0 1.5625rem;
}

.beneficio-principal {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	line-height: 1.5;
	list-style: circle black solid;
	padding-left: 1.875rem;

}

.imagembeneficios {
	max-width: 45%;
}

footer {
	background: url(../imagens/bg.jpg);
	text-align: center;
	padding: 2.5rem;
}

.copyright {
	color: #FFFFFF;
	font-size: .8125rem;
}