* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Domine', serif;
}

header {
	padding: 1.25rem 0;
	background: url(../imagens/header2.png) no-repeat center/100%;
	margin: 0 auto;

}

.conteiner {
	position: relative;
	width: 71.25rem;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 7.5rem;
	right: 1.25rem;
}

.menu {
	display: inline;
	margin-left: .9375rem;
}

nav a {
	color: #fefefe;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 15px 15px 15px black;
}

nav a:hover {
	color: #c78c19;
	text-decoration: none;
	font-size: 28px;
	transition: 400ms;
}

/* MIOLO DO SITE */

.mapa {
	padding: 1.875rem 1.875rem;
	background: linear-gradient(#fefefe, #888888);
}

.mapa p {
	margin: 0 0 1.25rem;
	text-align: center;
}

.mapa-conteudo {
	width: 71.25rem;
	margin: 0 auto;
}

.principal {
	padding: 1.25rem 1.875rem;
	background-color: #fefefe;
	margin-top: -0.25rem;
	height: 100%;
	width: 71.25rem;
	margin: 0 auto;
}

.titulo {
	text-align: center;
	margin-top: 0;
	/* color: rgba(0, 0, 0, 0.3); Com a propriedade {rgba} podemos aplicar opacidade em todos os elementos:  bordas, títulos, cores, etc. */
}

.utensilios {
	width: 9.375rem;
	float: left;
	padding: 0 1.25rem 0 0;
}

h2 {
	
	font-weight: bold;
	padding: .625rem 1.25rem 1.25rem;
	font-size: 22px;
}

p {
	
	line-height: 1.5;
}

#missao {
	font-size: 1.25rem;
	padding: .3125rem 0;
}

em strong {
	color: red;
}

.itens {
	font-style: italic;
	line-height: 1.5;
	list-style: none;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "\272A";
	margin: 0 .25rem 0 0;
}

.container-beneficios {
	width: 71.25rem;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}


h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.375rem;
	padding: 0 0 1.5625rem;
}

.beneficios {
	background: #888888;
}

.lista-principal {
	padding: 0 1.875rem 0 0;
	display: inline-block;
	vertical-align: top;
}

.imagemBeneficio {
	width: 50%;
	transition: 400ms;
	opacity: 1.0;
	box-shadow: 0.625rem 0.625rem 0.625rem black; /* Eixo Y, X, espalhamento da sombra, cor. */
}

.imagemBeneficio:hover {
	opacity: 0.3;
	
}

.video-container {
	background-color: #888888;
}

.video {
	display: flex;
	justify-content: center;
	padding:  2.5rem 0 3.125rem;
	width: 71.25rem;
	margin: 0 auto;
}

footer {
	background: url(../imagens/bg.jpg);
	text-align: center;
	padding: 2.5rem;
}

.copyright {
	color: #FFFFFF;
	font-size: .8125rem;
}

@media screen and (max-width: 30.0rem) {
	.conteiner, .principal, .mapa, .beneficios, .beneficio-principal, .video-container, .video, .mapa-conteudo, .banner-container, .lista-principal{
		width: auto;
	}
}